
/* Font setup for the body */
font-family: 'Poppins', sans-serif;

/* main{
    width: 1000px;
    justify-content: center;
} */

.container-banner{
    justify-content: center;
    margin-bottom: 20px;
}
.top-banner{
    display: grid;
    grid-template-columns: 400px 600px;
    background-color: navy;
    width: 1000px;
    padding: 5px;
    margin-bottom: 40px;
}

.banner-title{
    color: white;
    padding-left: 50px;
    padding-top: 160px;
    font-size: 130%;
}

/* Watch Live button property */
.button-banner{
    background-color:crimson;
    border:none;
    padding: 12px;
    text-align: center;
    font-size: 12px;
}

/* Color of the anchor tag */
a{
    text-decoration: none;
    color: white;
}
.banner-img img{
    width: 75%;
    padding-top: 120px;

}

/* All 12 players into a section */
.container{
    align-items: center;
    justify-content: center;
    margin-left: 0;
    background-color:#e0dbdb;
    width: 800px;
    padding: 5px;
    margin-bottom: 40px;
}

/* Players profile section in a grid */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Style setup of individual player's box */
.player{
    background-color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 5px 5px 5px 5px;
}

/* Image size of each player */
.player img{
    width: 100%;
}

footer{
    width: 900px;
    text-align: center;
}
footer img{
    width: 20%;
}

/* .footer-icon{
    width: 400px;
    display: flex;
    align-items: center;
    
} */
/* .social-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
}
ul li{
    position: relative;
    display: block;
} */